<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Pages>8</Pages><Words>2319</Words><Characters>13793</Characters><TotalTime>23</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>16823</CharactersWithSpaces><Application>WPS Office_12.1.0.24034_F1E327BC-269C-435d-A152-05C5408002CA</Application></Properties>